* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #030303;
}

#calculator {
    min-height: 100vh;
    width: 100%;
}

.calculator-wrapper {
    min-height: 90vh;
    width: 30%;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
    background-color: #010101;
}

.calculator-wrapper input {
    width: 100%;
    min-height: 30vh;
    padding: 0px 5px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #ffffff;
    background-color: #161616;
}

.bg-danger {
    background-color: red !important;
}

.calculator-wrapper input:focus {
    outline: none;
}

.anim {
    position: absolute;
    background-color: #c85802;
    border-radius: 0 100px 0 0;
    left: 0;
    bottom: 0;
    animation: none;
}

.playAnimation {
    animation: scale 1s ease forwards;
}

@keyframes scale {
    from {
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    to {
        width: 850px;
        height: 200px;
        opacity: 0;
    }
}

.buttons {
    width: 100%;
    min-height: 60vh;
}

.btn-wrapper button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button {
    background-color: #161616;
    transition: ease-in-out 0.5s;
    color: #ffffff;
}

.btn-wrapper button:active {
    transform: scale(0.90);
}

.bg-success {
    background-color: green !important;
}

.bg-import:not(:focus,:hover) {
    color: #ffffff !important;
}

.bg-import {
    background-color: #c85802 !important;
    transition: ease-in-out 0.5s;
    color: #ffffff !important;
}

@media only screen and (max-width: 900px) {
    .calculator-wrapper {
        min-height: 60vh;
        width: 40%;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
        background-color: #010101;
    }
}

@media only screen and (max-width: 600px) {
    .calculator-wrapper {
        width: 100%;
        min-height: 100vh;
        border-radius: 0px;
    } 

    .calculator-wrapper input {
        min-height: 35vh;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .buttons {
        width: 100%;
        min-height: 65vh;
    }

    @keyframes scale {
        from {
            width: 100px;
            height: 100px;
            opacity: 1;
        }
        to {
            width: 850px;
            height: 450px;
            opacity: 0;
        }
    }
    
}